project:
  type: website

website:
  title: "Arhan's Data Stories"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
format:
  html:
    theme: cosmo
    css: styles.css

execute:
  freeze: auto


